.App {
  height: 100vh;
  background: linear-gradient(to top, #124212, #0A250A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  
  margin-top: 25px;
  /* background-color: rgb(13, 64, 28); */
  min-height: 5vh;
  border-radius: 100px;
  /* border-color: rgb(32, 142, 107); */
  /* border-width: 1px; */
  width: 100%;
  justify-content: center;
}

/* Custom CSS */
.rotate-3d {
  transition: transform 1.2s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.rotate-3d:hover {
  transform: rotateY(360deg);
}
/* Custom CSS */


/* Custom CSS */
.protate-3d {
  transition: transform 3s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.protate-3d:hover {
  transform: rotateY(720deg);
}
/* Custom CSS */
