@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.name{
        background-image: linear-gradient(43deg, #07a13f 0%, #a9d1ac 46%, #5bbd77 100%);
        background-color: white;
        -webkit-background-clip: text;
        color: transparent; 
        text-align: center;
       
}